@import "tailwindcss";
@import "../fonts/fontiran.css";
body {
  font-family: IRANSans !important;
  font-weight: 300;
  direction: rtl;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: IRANSans;
}
h1 {
  font-weight: bold;
}
a {
  text-decoration: none;
}
button {
  outline: none;
}
.color500 {
  color: rgba(0, 0, 0, 0.871);
}
.color400 {
  color: #0000008f;
}
.shadow-divar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.122);
}
.transition-divar {
  transition: top 0.24s ease-in-out;
}
.custom-box-article::after {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09) inset, 0 0 0 1px #fff inset;
  border-radius: 4px;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

/* test{
	color:#00000052;
} */
